body {
  /*font-family: Verdana, Tahoma, Arial, sans-serif !important;*/
  margin:0;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #191919;
}

/**************************\
  Intro Slideshow Styles
\**************************/
#introOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
    background-color: #000;
}

#introOverlay .swiper, 
#introOverlay .swiper-slide {
    width: 100%;
    height: 100%;
}
#introOverlay .swiper-slide div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#introOverlay .swiper-slide div img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes kenburns {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
}

.kenburns {
    animation: kenburns 10s ease-in-out forwards;
}

#startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(4px);
}
#startBtn:hover {
    background: white;
    color: black;
}


/**************************\
  Cemi App Styles
\**************************/
#cemi-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0px;
    z-index: -1;
    position: fixed;
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}

#cemi-header-left {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

#cemi-header-right {
  display: none;
  gap: 1.5rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  
}

#cemi-header-right img {
  height: 8.08rem;
  width: auto;
}

#title {
  font-size: 5rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  
}

#subtitle {
  font-size: 3.08rem;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
}

#cemi-toolbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 110;
  position: fixed;
  margin-left: 1rem;
}

/* Btn */
.cemiBtn {
  height: 3.5rem;
  width: 3.5rem;
  color: black;
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: linear-gradient(to bottom right, #e0e3e6, #d3d6d9);
  border-radius: 0.5rem;
  border-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  
}
.cemiBtn:active,
.cemiBtn[data-active],
.cemiBtn:hover {
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 0.22rem;
  border-color: #0167ff;
}
.cemiBtn:focus {
  outline: none; /* Rimuove il contorno al focus */
}
.cemiBtn:disabled {
  background-color: #e6e6e6;
  color: rgba(0,0,0,.5);
  cursor: not-allowed;
}
.cemiBtn img {
  width: 100%;
  height: 100%;
  fill: currentColor;
  opacity: 0.4;
}

.cemiBtn:active img,
.cemiBtn[data-active] img,
.cemiBtn:hover img,
.cemiBtn:hover img{
  opacity: 1;
}

#xrayBtn img{
  opacity: 1;
}

#idView3D{
  visibility: hidden;
}


@media (min-height: 2000px) and (min-width: 2000px) {
  /* Stili per kiosk */
  html {
    font-size: 32px;
  }

  video::-webkit-media-controls-fullscreen-button {
    display: none !important;
  }
  video::-webkit-media-controls-picture-in-picture-button {
    display: none !important;
  }
  video::-webkit-media-controls-overflow-menu-button {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
  html {
    font-size: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape){
  html {
    font-size: 6px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  html {
    font-size: 6px;
  }

  #cemi-header-left {
    flex-direction: row;
    align-items: baseline;
  }

  #title {
    font-size: 3rem;
  }

  #subtitle {
    font-size: 1.82rem;
    margin-left: 0.5rem;
  }

  #cemi-toolbar {
    justify-content: flex-end;
    padding-bottom: 2rem;
  }

  .cemiBtn {
    height: 5rem;
    width: 5rem;
  }

}

@media (max-width: 767px) and (orientation: portrait) {
  html {
    font-size: 6px;
  }

  .cemiBtn {
    height: 5rem;
    width: 5rem;
  }

}